.headerImg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

/* Mobile Nav */

.mobileNav_link {
  @apply underline underline-offset-8 decoration-2 decoration-gold;
}

.desktopNavLink {
  @apply hover:text-[#FFD268];
}

/* Search bar */

.searchForm_label {
  @apply block text-sm md:text-lg font-medium;
}

.searchForm_input {
  @apply w-full text-sm  p-1 my-1 md:my-0 md:p-2 border border-gray-300 outline-none rounded-md focus:ring focus:ring-gold focus:ring-opacity-50;
}

.searchButton {
  @apply w-full bg-gold bg-opacity-90 text-white rounded-md px-2 py-2 mt-5 transition-all duration-300 ease-in-out hover:bg-opacity-100 hover:scale-95;
}

/* How it works section */

.howItWorks_container {
  @apply flex flex-col items-center justify-center max-w-md space-y-4;
}

.howItWorks_text {
  @apply text-center text-lg text-slate-800 italic;
}

.howItWorks_circle {
  @apply flex items-center justify-center w-16 h-16 bg-gold rounded-full shadow-md border-2;
}

.howItWorks_H_Text {
  @apply text-xl text-center font-semibold underline underline-offset-4 decoration-2 decoration-gold;
}

/* Featured destinations section */

.featuredDestinations_img {
  @apply absolute inset-0 h-full w-full object-cover shadow-xl transition-transform duration-300 ease-in-out group-hover:scale-105;
}

.featuredDestinations_img_overlay {
  @apply absolute inset-0 bg-black opacity-40 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:opacity-20;
}

.featuredDestinations_overlayText_position {
  @apply absolute inset-0 flex items-center justify-center;
}

.featuredDestinations_overlayText {
  @apply text-white text-2xl md:text-3xl text-center font-bold transition-colors duration-300 ease-in-out group-hover:text-slate-200;
}

/* Sign In page */

.formInput_field {
  @apply w-full p-2 border-2 rounded-md focus:outline-none focus:ring-2 focus:ring-platinum focus:border-transparent mt-4 bg-slate-300 opacity-80 placeholder-black;
}

.registerInput_field {
  @apply w-full p-2 border-2 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-platinum focus:border-transparent my-3 bg-white opacity-90 placeholder-black;
}

.formError {
  @apply text-sm font-medium py-1 text-red-700;
}

.loginError_Message {
  @apply rounded-md mt-1 font-bold py-2 pl-2 text-red-700;
}

.bg-gradient {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

/* Profile page */

.profileEdit_btn {
  @apply bg-slate-400 p-2 rounded-md shadow-md text-white font-semibold transition-transform duration-300 ease-in-out hover:scale-105;
}

.addProperty_btn {
  @apply bg-blue-500 p-2 rounded-md shadow-md text-white font-semibold transition-transform duration-300 ease-in-out hover:scale-105;
}

/* Slider */

.slick-dots {
  @apply relative bottom-0 !important;
}

/* Venues on scroll  */

.venue-animation .venue-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.venue-animation .venue-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Date Picker classes */

.react-datepicker {
  @apply bg-platinum shadow-lg border border-gold border-opacity-40 mx-auto text-sm scale-110  !important;
}

.react-datepicker__header {
  @apply bg-gold bg-opacity-80 text-black p-4 !important;
}

.react-datepicker__day {
  @apply w-10 h-10 leading-10 !important;
}

.react-datepicker__day-name {
  @apply w-10 h-10 leading-10 !important;
}

.react-datepicker__day:hover {
  @apply bg-green-600 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  @apply bg-green-700 !important;
}

.react-datepicker__navigation-icon::before {
  @apply border-white !important;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  @apply border-black !important;
}
